
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white">Welcome, {{username}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile/{{username}}">Profile</a>
                    <div class="dropdown-divider"></div>
                    <form action="/logout" method="POST">
                        <input type="submit" class="btn dropdown-item" value="Logout">
                    </form>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Leaderboard</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/easy_leaderboard/{{username}}">Easy</a>
                    <a class="dropdown-item" href="/normal_leaderboard/{{username}}">Normal</a>
                    <a class="dropdown-item" href="/hard_leaderboard/{{username}}">Hard</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/welcome/{{username}}">Home</a>
            </li>
        </ul>
    </div>
</nav>