<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css">
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .bgcolor{
            background: url("../bg5.jpg") no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body class="bgcolor justify-content-lg-center">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white">Welcome, {{username}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/profile/{{username}}">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Sign Out</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/welcome/{{username}}">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--<div align="center">
    <h1 style="font-family: Century Gothic, serif ">Welcome to NORMAL difficulty</h1>
    <div class="form-group btn-group">
        <form action="/gameplay" method="POST">
            <p style="size: 20px">GAME OVER</p>
        </form>
    </div>
</div>
<div align="center">
    <div class="form-group btn-group">
        <form action="/gameplay" method="POST">
            <p style="size: 20px">GAME OVER</p>
        </form>
    </div>
</div>

<p align="center" style="size: 25px; color: green">{{total}}</p>-->


<div class="card w-50 h-50 text-white text-center bg-secondary mb-3" style="float: none; margin: 50px auto 0;">

    <div class="card-body">
        <form action="/easy_gameplay" method="POST">
            <p style="font-size: 50px">GAME OVER</p>
        </form>
        <form action="/easy_game_end" method="POST">
            <label for="answer"></label><input type="number" step="any" id="answer" name="answer" placeholder="Input Answer"><br><br>
            <input type="submit" class="btn btn-primary" value="Play Again">
        </form><br>

        <p align="center" style="size: 25px; color: darkgreen">{{total}}</p>


    </div>
</div>

</body>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>

